* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(89,187,120);
  background: no-repeat -moz-linear-gradient(8deg, rgba(89,187,120,0.9023984593837535) 0%, rgba(90,34,135,1) 75%);
  background: no-repeat -webkit-linear-gradient(8deg, rgba(89,187,120,0.9023984593837535) 0%, rgba(90,34,135,1) 75%);
  background: no-repeat linear-gradient(8deg, rgba(89,187,120,0.9023984593837535) 0%, rgba(90,34,135,1) 75%);
  height: 100vh;
}
