.CounterMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 30px;

}

.CounterMain h1 {
    font-size: 42px;
    color: rgb(238, 209, 46);
}

.CounterMain h2 {
    color: rgb(212, 193, 21);
    font-size: 20px;
}

.TodoCounter {
    font-size: 24px;
    text-align: center;
}

.TodoCounter--loading {
    opacity: .5;
}